/* Css Variables */
:root {
  --radius: 10px;
  --primary: #eee;
  --transition: .3s;
  --transform: translateY(-2px);
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: rgb(93, 19, 130);
  color: var(--primary);
}

.animat {
  margin-left: -150px;
  opacity: 0;
  animation: big-title 900ms forwards ease-in-out;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tasks */

.tasks-box {
  background-color: var(--primary);
  border-radius: var(--radius);
  min-height: 300px;
  width: 500px;
  padding: 20px 30px 40px;
}

.tasks-box h1 {
  font-size: clamp(19px, 7vw, 32px);
  text-align: center;
}

.tasks-box h1 *:last-child {
  font-size: clamp(21px, 8vw, 35px);
}

.tasks-box .add-task {
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.tasks-box .add-task input,
.tasks-box .add-task button {
  border: none;
  outline: none;
  border-radius: var(--radius);
  font-size: 16px;
  height: 40px;
}

.tasks-box .add-task input {
  width: calc(70% - 5px);
  padding-right: 10px;
}

.tasks-box .add-task input:focus {
  border: 2px solid rgba(0, 0, 121, 0.813);
}

.tasks-box .add-task button {
  width: calc(30% - 5px);
  background-color: rgba(130, 0, 0, 0.781);
  color: var(--primary);
  cursor: pointer;
  padding: 8px 10px;
  transition: var(--transition);
}

.tasks-box .add-task button:hover {
  background-color: rgba(174, 3, 3, 0.858);
}

.tasks-box ul {
  padding: 0;
}

.tasks-box ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin-bottom: 8px;
  width: 100%;
  min-height: 50px;
  background-color: rgba(0, 0, 121, 0.813);
  border-radius: var(--radius);
  color: var(--primary);
  word-break: break-word;
}

.tasks-box ul li .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-box ul li .icon {
  width: clamp(25px, 5.5vw, 35px);
  height: clamp(25px, 5.5vw, 35px);
  margin-right: clamp(4px, 1vw, 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}

.tasks-box ul li .icon:first-of-type {
  color: #00b900;
  background-color: var(--primary);
}

.tasks-box ul li .icon *:last-child {
  font-size: clamp(16px, 4vw, 24px);
}

.tasks-box ul li .icon:hover {
  background-color: rgba(255, 255, 255, 0.781);
}

.tasks-box label {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
}

.tasks-box .already-exist {
  color: #cf0404e3;
  font-size: 13px;
  width: calc(70% - 5px);
  text-align: center;
  margin-top: 8px;
  transition: var(--transition);
}

/* Categories */

.categories {
  display: flex;
  justify-content: center;
}

.categories button {
  width: 90px;
  min-height: 35px;
  margin: 8px;
  padding: 8px clamp(6px, 1vw, 10px);
  font-size: clamp(14px, 4vw, 19px);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  border: 2px solid rgb(52, 14, 98);
}

.categories button.active,
.categories button:hover {
  background-color: rgb(52, 14, 98);
  color: var(--primary);
}

.categories button:hover {
  transform: var(--transform);
  box-shadow: 0 0 6px 2px rgb(128 128 128 / 39%);
}

@keyframes big-title {
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@media (max-width: 520px) {
  .tasks-box {
    width: 100vw;
    padding-left: 12px;
    padding-right: 12px;
  }

  .categories button {
    width: 100px;
    margin: 6px;
  }
}

@media (max-width: 320px) {

  .tasks-box .add-task {
    flex-direction: column;
    height: 80px;
  }

  .tasks-box .add-task input,
  .tasks-box .add-task button {
    width: 100%;
  }

  .tasks-box .already-exist {
    width: 100%;
  }

}